/* -----------------------------------------
	07. Comments
----------------------------------------- */
.comments-area {
	margin: 30px 0 0;
}

.comments-title,
.comment-reply-title {
	margin-bottom: 30px;
}

.comment-list,
.commentlist {
	margin: 0;
	list-style: none;
	padding: 0;

	.children {
		list-style: none;
	}

	> ol {
		list-style: none;

		@include media-breakpoint-down(sm) {
			margin: 0;
			padding: 0;
		}
	}

	.comment-body {
		margin-bottom: 20px;
		padding-top: 20px;
	}

	> .comment {
		&:first-child {
			> .comment-body {
				border-top: 0;
				padding-top: 0;
			}
		}
	}
}

.post-comments {
	margin: 0 0 45px;
}

.comment-author {
	.fn {
		font-weight: bold;
	}

	.avatar {
		width: 64px;
		height: 64px;
		float: left;
		margin: 0 15px 15px 0;
		overflow: visible;
		border-radius: 3px;

		@include media-breakpoint-down(xs) {
			display: none;
		}
	}
}

.comment-content {
	overflow: hidden;
	zoom: 1;
	font-size: 13px;

	p {
		margin-bottom: 10px;
	}
}

.comment-metadata {
	font-size: 12px;
	margin: 0 0 5px;
}

.comment-reply-link {
	font-size: 10px;
	text-transform: uppercase;
	padding: 4px 10px;
	margin-left: 80px;
	height: auto;
	width: auto;

	@include media-breakpoint-down(sm) {
		margin: 0;
	}
}

.bypostauthor {
	> article {
		.fn {
			&::before {
				font-family: FontAwesome;
				content: "\f005";
				margin: 0 2px 0 -2px;
				position: relative;
				top: -1px;
				font-size: 11px;
			}
		}
	}
}

.comment-respond {
	margin-top: 60px;
}

#cancel-comment-reply-link {
	font-size: 13px;
	font-weight: normal;
	margin-left: 5px;
}

.form-allowed-tags,
.comment-notes {
	font-size: 12px;
	line-height: 1.5;
	opacity: .75;
}

.form-submit {
	margin-bottom: 0;
	margin-top: 40px;
}

.no-comments {
	border: 1px solid $border-color;
	padding: 15px;
	margin-top: 40px;
	text-align: center;
}
