/*=======================
Css for Style1 Template
=========================*/

body{
	width: 100%;
	overflow: hidden;
}

/*start header part*/
.style1-template-design div#top-header {
    background: #000;
}
.site-branding.main-logo{
	background: #ffde00;
    padding: 32px 14px 33px 25px;
    position: relative;
}
.site-branding.main-logo::before{
	content:' ';
	width: 300%;
	height: 100%;
	position: absolute;
	left:-297%;
	top:0;
	background: #ffde00;
}
.logo-left .site-branding.main-logo img{
	width: 126px !important;
	max-height: 35px !important;
}
.header-wrap .main-navigation{
	float:left;
	padding-left: 72px;
	position: relative;
	width:83%;
}
#site-navigation .menu {
    float: left;
    width: 93%;
}
.style1-template-design header.site-header {
    border-top: 0;
    top: 0;
    position: relative;/*fixed;*/
    z-index: 9999;
    right: 0;
    left:0;
}
#site-navigation .menu > ul > li{
	line-height: 91px;
}
.style1-template-design #site-navigation .menu > ul > li > a {
	padding: 8px 20px;
	border-left:0; 
	font-size: 16px;
    line-height: 12px;
    color:#808080;
    font-weight: 700;
    border:2px solid  transparent;

}
.style1-template-design #site-navigation .menu > ul > li > a:hover{
	border:2px solid  #ffde00;
	border-radius: 5px ;
	color:#ffde00;
}
#site-navigation .menu > ul > li:hover > a:before, #site-navigation .menu > ul > li.current_page_item > a:before, #site-navigation .menu > ul > li.current-menu-item > a:before, #site-navigation .menu > ul > li.current_page_ancestor > a:before, #site-navigation .menu > ul > li.current-menu-ancestor > a:before{
	content: none;
}
.header-wrap .main-navigation{
	background: #000;
}
.header-wrap .search-icon{
	border-left:none;
}
.header-wrap .search-icon > .fa.fa-search{
	color:#ffde00;
	line-height: 91px;
}
 #site-navigation .menu ul ul li > a:before,header #site-navigation .menu ul ul li.current_page_item > a{
	background: #000;
	color:#ffde00;
}
#site-navigation .menu ul ul li > a:hover:before, #site-navigation .menu ul ul li.current_page_item > a:before{
	background: #ffde00;
}

.style1-template-design #site-navigation .menu ul ul{
	border:0;
}
#site-navigation .menu ul ul li{
	border-top: 2px solid #ddd;
	border-bottom: 2px solid #ddd;
}
.style1-template-design #site-navigation .menu ul ul li:hover{
	border-bottom: 2px solid #ffde00;
    border-top: 2px solid #ffde00;
    transition: all .5s linear;
}
.style1-template-design #site-navigation .menu ul ul li a:hover{
	color:#ffde00;
	background: #000;
	transition: all .5s linear;
}
/*logo-center*/
.logo-center .site-branding.main-logo::before{
	content: none;
}

.logo-center .site-branding.main-logo {
   background:transparent;
    padding: 35px 14px 0 25px;
    position: relative;

}
.logo-center #site-navigation .menu > ul > li{
	line-height: 50px;
}
.boxed-layout.style1-template-design div#top-header{
	background:transparent;
}
.boxed-layout .site-branding.main-logo{
	padding-left:0;
}
.boxed-layout header.site-header{
	box-shadow:none;
}
.site-logo-center..boxed-layout #top-header  .logo-center{
	background:#ffde00;
}
.site-logo-center #top-header .ak-container {
    //width: 89.3%;
    margin: 0 auto;
}
.boxed-layout .site-branding.main-logo{
				    background: #ffde00;
}
/*end-logo-center*/
.boxed-layout.site-logo-left .site-branding.main-logo{
	position: relative;
}

.boxed-layout.site-logo-left .header-wrap .main-navigation{
	position: relative;
}


/*end-header*/


/*slider-banner*/

.site-logo-center #slider-banner {
    margin-top: 0;
}
#slider-banner .slider-caption .caption-title{
	font-size: 60px;/*67.01px;*/
	color:#ffde00;
	font-weight: bold;
	background: transparent;
	max-width: 97%;
	//padding-top: 103px;
	padding-bottom: 0;
}
.boxed-layout .site-branding.main-logo::before{
	content:none;
}
.boxed-layout .style1-template-design div#top-header{
	background:transparent;
}
#slider-banner .style1-template-design .slider-caption .caption-title,.style1-template-design .slider-caption .caption-description{
	background: none;
}
.slider-caption{
	text-align: left;
	//max-width: 87%;
	margin-top:0!important;
	padding-left: 25px;
}
#slider-banner .slider-caption{
	top:initial;
	bottom:59px;
	background: none;
}
#slider-banner .slider-caption .caption-description{
	font-size: 25px;
	color:#fff;
	padding-left: 24px;
	max-width: 97%;
	padding-top: 1px;
	font-weight: 400;
}
#slider-banner .bx-wrapper .bx-viewport,#slider-banner .bx-wrapper img{
	//height: 100%;/*888px;*/
}
#slider-banner .bx-wrapper img{
	object-fit:content;
}
.slider-caption  a{
	color:#000!important;
}
.style1-template-design .slider-caption br + a{
	margin-left:25px;
	background: transparent;
	border:2px solid #ffde00;
	color:#ffde00!important;
    font-weight: bold;
    transition: all 0.5s linear;
}
.style1-template-design .slider-caption br + a:hover{
	background:#ffde00;
	border:2px solid #ffde00;
	color:#000!important;
}
#slider-banner .slider-wrap .bx-wrapper .bx-controls-direction a{
	width: 95px;
	height: 95px;
	border-radius: 0;
	border: none;
	box-sizing:border-box;
}

#slider-banner .bx-wrapper .bx-prev, #slider-banner .bx-wrapper:hover .bx-prev{
	left:0;
	background-color: #000;
	position: absolute;
	background:none;
	//background:url('images/slidercontrol/previous-yellow.png') center center no-repeat;
}
#slider-banner .bx-wrapper .bx-prev:hover{
	//background: #ffde00 url('images/slidercontrol/previous.png') center center no-repeat;
	background-color: #ffde00 ;
	background:none;
}
 #slider-banner .bx-wrapper .bx-next, #slider-banner .bx-wrapper:hover .bx-next{
 	right: 0;
 	background-color: #000 ;
 	background:none;
 	//background: #000 url('images/slidercontrol/next-yellow.png') center center no-repeat;
 }
#slider-banner .bx-wrapper .bx-next:hover{
	//background: #ffde00 url('images/slidercontrol/next.png') center center no-repeat;
	background-color: #ffde00 ;
	background:none;
}
#slider-banner .bx-wrapper .bx-pager.bx-default-pager a{
	height: 8px;
	width:27px;
	border-radius:0;
	background: #000;
	border:0;
	box-shadow:0 0 0 2px #000 inset !important;
}
.bx-controls-direction .fa{
	color: #ffde00 ;
	font-size: 74px;
	line-height:1.3;
	font-weight: 100;
}
#slider-banner .bx-wrapper .bx-prev{
	text-align: right;
}
#slider-banner .bx-wrapper .bx-next:hover .fa, #slider-banner .bx-wrapper .bx-prev:hover .fa{
	color: #000;
}
#slider-banner .bx-wrapper .bx-controls-direction a{
	top:45%;
	text-indent:inherit;
	z-index: 999;
}
#slider-banner .bx-wrapper .bx-pager.bx-default-pager a:after{
	background: #ffde00!important;
    top: 0px;
    content: "";
    left: 0px;
    position: absolute;
    width: 100%;
    border-radius:0;
    height: 100%;
    display: none;
}
#slider-banner .bx-wrapper .bx-pager{
	text-align: left;
	padding-left: 9%;
	bottom:14px;
}
#slider-banner .overlay{
	background-image:none;
	top:inherit;
	bottom: 0;
	height: 100%;
	//background: rgba(0,0,0,0.4);
	background: -moz-linear-gradient(178deg, rgba(255,255,255,0.6) 0, rgba(0,0,0,0.6) 100%);/* FF3.6+ */
	background: -webkit-gradient(linear, 172deg, color-stop(0, rgba(255,255,255,0.6)), color-stop(100%, rgba(0,0,0,0.6)));/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(172deg, rgba(255,255,255,0.6) 0, rgba(0,0,0,0.6) 100%);/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(172deg, rgba(255,255,255,0.6) 0, rgba(0,0,0,0.6) 100%);/* Opera 11.10+ */
	background: -ms-linear-gradient(172deg, rgba(255,255,255,0.6) 0, rgba(0,0,0,0.6) 100%);/* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#F4F60C', GradientType='1'); /* for IE */
	background: linear-gradient(172deg, rgba(255,255,255,0.6) 0, rgba(0,0,0,0.6) 100%);/* W3C */
}
/*end-slider-banner*/



/*about-section -start*/
#about-section{
	padding:49px 25px;
	background: #eee;
}
#about-section .main-title a{
	font-size: 30px;
	font-weight:bold;
	line-height: 24px;
	position: relative;
	padding-bottom: 28px;
}
#about-section .main-title a:after{
	content:' ';
	width: 72px;
	height: 7px;
	background:#000;
	position: absolute;
	bottom:0;
	left:47%;
}
#about-section .welcome-detail{
	font-size: 16px;
	font-weight: 500;
}
#about-section .welcome-content{
	color:#858383;
	line-height: 24px;
}
#about-section a.read-more.bttn{
	font-size: 24px;
	text-transform: capitalize;
	color:#000!important;/*have to ask*/
	background: transparent;
	border-top:2px solid #000;
	border-bottom:2px solid #000;
	border-left:4px solid #000;
	border-right:4px solid #000;
	padding:12px 42px;
	transition: all .5s linear;
}
#about-section a.read-more.bttn:hover{
	background: #ffde00;
	border-top:2px  solid #ffde00;
	border-bottom:2px  solid #ffde00;
	border-left: 4px solid #ffde00;
	border-right:4px solid #ffde00;
	transition: all .5s linear;
}

/*end-about-section*/


/*start #mid-section.featured-section*/
.style1-template-design .featured-section{
	background: #fff;
	position: relative;
	padding:49px 0;
}
.featured-section .ak-container{
	text-align: center;
}
.style1-template-design .featured-section::before{
	content: ' ';
	position: absolute;
	width: 0; 
	height: 0; 
	width: 0px;
    height: 0px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #eee;
    top:0;
    left: 49%;
}
.featured-section .main-title{
	font-size: 30px;
	font-weight: bold;
	line-height: 24px;
	color:#000;
	position: relative;
	padding-bottom: 28px;
}
.featured-section .main-title::after{
	content:' ';
	width: 72px;
	height: 7px;
	background:#000;
	position: absolute;
	bottom:0;
	left:47%;
}
.featured-section .sub-desc{
	font-size:18px;
	color:#858383;
}

.featured-post .featured-content p{
    font-size: 16px;
    /* font-weight: lighter; */
    line-height: 28px;
}
.featured-post .featured-content a{
	display: none;
}
.featured-post h2.featured-title a{
	font-size: 24px;
	line-height: 24px;
	font-weight: bold;
	display: block;
}

/*.....featured post......*/
.featured-post{
	box-sizing:border-box;
	//padding:0 48px 0 0;
	margin-left: 0;
}

.featured-post:last-child{
	padding-right: 0;
}
.featured-section .featured-post-wrapper{
	margin-left: 0;
}
.featured-section .featured-post{
	width: 263px;
	margin-left:0;
	margin-right:24px;
}
.featured-section .featured-post:last-child{
	margin-right: 0;
}
.featured-section .featured-post{
	display: inline-table;
	float: none;
}
.featured-post img{
	width:100%;
	object-fit:cover;
}
.featured-post .featured-image, .featured-post .featured-icon{
	height: 237px;
    width: 263px;
}
.featured-post .featured-image img{
	width: 100%;
	height: 100%;
}
.featured-post .featured-icon{
	padding-top: 10%;
	background: #000;
}
.featured-post .featured-icon .fa{
	color:#ffde00;
	font-size: 100px;
}
.featured-post-wrapper{
	position: relative;
	box-sizing:border-box;
	//padding:0 22px;
	overflow: hidden;
	text-align: center; 
}
.featured-section .featured-content{
	padding: 15px 0px 15px;
}
.featured-post .featured-post-wrapper .featured-more{
	top:0;
	left:0;
	width: 100%;
	height: 100%;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    visibility: hidden;
    background: #ffde00;
    box-sizing:border-box;
    padding-top:43%;
    transition: all 1s linear;
}
.featured-post .featured-post-wrapper .featured-more div{
	background:#000;
	width:200px;
	height:200px;
	text-align:center;
	position: absolute;
	top: -42%;
    right: -41%;
	-ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    box-sizing:border-box;
    padding-top: 60%;
}
.featured-post .featured-post-wrapper .featured-more div span{
	-ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
    color:#ffde00;
	font-size: 70px;
	display: block;
	font-weight: bold;
}
.featured-post .featured-post-wrapper:hover .featured-more{
	opacity: 1;
	visibility: visible;
}

.featured-post .featured-post-wrapper .featured-more a{
	font-size: 20px;
	line-height: 24px;
	font-weight:bold;
	color:#000;
}
/*end #mid-section.featured-section*/

/*clients-say-section start*/
.style1-template-design  .clients-say-section{
	position: relative;
	background-size: cover;
}
.style1-template-design  .clients-say-section::before{
	content: ' ';
	position: absolute;
	width: 0; 
	height: 0; 
	width: 0px;
    height: 0px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #fff;
    top:0;
    left: 49%;
    z-index: 2;
}
.style1-template-design  .clients-say-section::after{
	content: ' ';
	position: absolute;
	width:100%; 
	height: 100%; 
	background: rgba(0,0,0,0.6);
    top:0;
    left:0;
    display: block;
    z-index: 0;
}
.style1-template-design  .clients-say-section .ak-container{
	position: relative;
	z-index: 1;
}
.clients-say-section .ak-container .main-title{
	font-size:30px;
	font-weight: bold;
	color:#fff;
	position: relative;
	padding-bottom: 28px;
}
.clients-say-section .ak-container .main-title:after{
	content: ' ';
    width: 72px;
    height: 7px;
    background:#ffde00;
    position: absolute;
    bottom: 0;
    left: 47%;
}
.style1-template-design .clients-say-section .bx-wrapper .bx-pager.bx-default-pager a {
	background: #999;
}
.style1-template-design .clients-say-section .bx-wrapper .bx-pager.bx-default-pager a:hover,
.style1-template-design .clients-say-section .bx-wrapper .bx-pager.bx-default-pager a.active{
	background: #ffde00;
}
.clients-say-section .testimoinal-client-name{
	font-size: 24px;
	line-height: 24px;
	color:#fff;
	font-weight: bold;
}
.clients-say-section  .testimonial-excerpt{
	font-size:18px;
	font-weight: lighter;
	font-style: italic;
	color:#fff;
}
.clients-say-section .testimonial-wrap{
	padding-top: 19px;
}
.clients-say-section {
	background: url(../images/demo/testimonials-bg.jpg);
}
/*clients-say-section end*/

/*start event-section*/
.events-section{
	background:#fff;
	position: relative;
}
.events-section::before{
	content: ' ';
	position: absolute;
	width: 0; 
	height: 0; 
	width: 0px;
    height: 0px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #000;
    top:0;
    left: 49%;
}
.events-section .main-title{
	font-size: 30px;
	font-weight: bold;
	line-height: 24px;
	padding-bottom: 28px;
	position: relative;
	    margin-bottom: 28px;
}
.events-section .main-title:after{
	content:' ';
	width: 72px;
	height: 7px;
	background:#000;
	position: absolute;
	bottom:0;
	left:47%;
}
.events-section .event-list .event-thumbnail img{
	//height: 232px;
	object-fit:cover;
}
.events-section .event-list .event-date{
	width:70px;
	height: 70px;
	border-radius: 50%;
	border:3px solid #f9f9f9;
	top:-38px;
	padding:1.5% 0 0 0;
}
.events-section .event-list figure .event-date{
	background: #000;
}
.events-section .event-list .event-date-day{
	color:#ffde00;
	font-size:37.28px;
}
.events-section .event-list .event-date-month{
	font-size: 14px;
	color:#ffde00;
}
.events-section .event-list{
	background: #f9f9f9;
}
.events-section .event-list .event-title{
	padding-left: 25%;
	padding-top: 14px;
}
.events-section .event-list .event-title a{
	font-size: 24px;
	line-height: 24px;
	font-weight: bold;
	color:#000;
}
.events-section .event-list .event-detail{
	    padding:0;
	    position: relative;
}
.events-section .event-list .event-excerpt{
	font-size: 15px;
    font-weight: 100;
    padding: 37px 25px 0;
    line-height: 28px;
   
    overflow: hidden;
}
.events-section .event-list .event-detail a.read-more-btn{
	width:100%;
	text-align: center;
	background: #000;
	color:#ffde00;
	height: 52px;
	font-size: 20px;
	line-height: 49px;
	font-weight:bold;
	transition: all .5s linear;
}
.events-section .event-list .event-detail a.read-more-btn:hover{
	background:#ffde00;
	color:#000;
	transition: all .5s linear;
}
.events-section .event-list .event-detail a span{
	display: none;
}
.event-list-wrapper a.view-all{
	font-size: 24px;
    text-transform: capitalize;
    color: #000!important;
    background:transparent;
    border:3px solid #000;
    padding: 18px 48px;
    line-height: 2px;
    height: auto;
    width: auto;
    font-weight: bold;
    transition: all .5s linear;
}
.event-list-wrapper a.view-all:hover{
	background:#ffde00;
	background: #ffde00;
	border:3px  solid #ffde00;
	transition: all .5s linear;
}
.style1-template-design .events-section .bx-wrapper .bx-pager.bx-default-pager a{
	background: #000;
}
.style1-template-design .events-section .bx-wrapper .bx-pager.bx-default-pager a:hover, 
.style1-template-design .events-section .bx-wrapper .bx-pager.bx-default-pager a.active{
	background: #ffde00;
}
.event-thumbnail:hover img{
	transform:scale(1.1,1.1);
	-webkit-transform:scale(1.1,1.1);
	transition: all .5s linear;
	-webkit-transition: all .5s linear;
	object-position:center center;
}
.event-thumbnail img{
	transform:scale(1,1);
	-webkit-transform:scale(1,1);
	transition: all .5s linear;
	-webkit-transition: all .5s linear;
}
.event-list{
	//position: relative;
}
figure.event-thumbnail{
    overflow: hidden;
    //position: relative;
}
figure.event-thumbnail a{
	//overflow: hidden;
}
/*end event-section*/

/*business-section start*/
.style1-template-design .business-section{
	position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 70% 70%;
}
.style1-template-design .business-section .ak-container{
	position: relative;
	z-index: 1;
}
.style1-template-design .business-section::after{
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    top: 0;
    left: 0;
    display: block;
    z-index: 0;
}

.business-section::before{
	content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    width: 0px;
    height: 0px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #fff;
    top: 0;
    left: 49%;
    z-index: 1;
}
.business-section .widget-title{
	font-size: 30px;
	font-weight: 500;
	color:#999;
	position: relative;
	padding-bottom: 30px;
}
.business-section .widget-title::after{
	content: ' ';
    width: 72px;
    height: 7px;
    background:#ffde00;
    position: absolute;
    bottom: 0;
    left: 0;
}
.business-section .widget ul{
	list-style:none;
}
.business-section .widget ul li{
	padding:8px 0 0 0;
}
.business-section .widget ul li::first-child{
	padding:0;
	font-size: 18px;
	font-weight: 200;
}
.business-section .widget ul li:before {
    color: #fff;
    content: "•";
    position: relative; 
    left: -13px;
    font-size: 37px;
    margin-left: -10px;
    top:8px;
}
.business-section .widget .textwidget p{
	font-size: 18px;
	line-height: 48px;
}
.business-section .widget .textwidget p a{
	display:none;
}
/*end-business-section*/

/*section google-id*/
#google-map .ak-contact-address > h3{
	border:0;
	color:#ffde00;
	position: relative;
	padding-bottom:17px;
	font-weight: 500;
}
#google-map .ak-contact-address > h3::after{
	content: ' ';
    width: 72px;
    height: 7px;
    background:#ffde00;
    position: absolute;
    bottom: 0;
    left: 0;
}
#google-map .ak-contact-address > p{
	font-weight:500;
	font-size: 18.03px;
	line-height: 24.04px;
	color:#fff;
}
#google-map .ak-contact-address{
	background: rgba(72,72,71,0.8);
}
#google-map .ak-contact-address .socials a{
	border-radius: 0;
	background: #fff;
}
#google-map .ak-contact-address .socials a:hover{
	background: #ffde00;
}
#google-map .ak-contact-address .socials a span{
	color:#484847;
}

/*end section google-id*/

/*footer section*/
footer#colophon #top-footer{
	background: #2c2c2c;
}
footer ul.menu {
	list-style: none;
}
.footer-menu ul li:first-child a{
	padding-left: 10px;
}

footer ul.menu li a{
	font-size: 18.24px;
	line-height: 36.49px;
	color:#b4b4b4;
	margin-left:-20px;
	border:0;
	padding: 3px 10px;
	display: initial;
	box-sizing:border-box;
}
footer ul.menu li a:hover{
	color:#ffde00;
}
footer ul.menu li{
	box-sizing:border-box;
}

#top-footer .footer .widget-title{
	font-size:30px;
	font-weight: bold;
	color:#ffde00;
	position: relative;
	padding-bottom: 24px;
}
#top-footer .footer .widget-title::after{
	content: ' ';
    width: 86px;
    height: 7px;
    background: #ffde00;
    position: absolute;
    bottom: 0;
    left: 0;
}
footer p{
	font-size:18.03px;
	line-height: 24.04px;
	color:#b4b4b4;
	font-weight: 500;
}
.style1-template-design #top-footer input, .style1-template-design #top-footer textarea{
	background: transparent;
	border-bottom: 1px solid #b4b4b4;
}
.style1-template-design #top-footer input[placeholder]{
	color:#b4b4b4;
}
.style1-template-design footer #top-footer input.newsletter-submit{
	background: #ffde00;
	border:0;
	width: 145px;
	height: 41px;
	font-size: 18px;
	line-height: 22px;
	//color:#1a1a1a!important;
	float:right;
}
.style1-template-design  #top-footer input[type="submit"]{
 	background: #ffde00;
    //border: 2px solid #000;
    color: #000!important;
    background: transparent;
    font-weight: bold;
    transition: all 0.5s linear;
 }
 .style1-template-design  #top-footer input[type="submit"].wpcf7-form-control.wpcf7-submit{
 	background: #ffde00;
 	width: 147px;
 	height: 41px;
 	font-size: 18px;
 	border:0;
 	float: right;
 }
.style1-template-design  #top-footer input[type="submit"]:hover{
  	background:#ffde00;
    //border: 2px solid #ffde00;
     -webkit-transform: scale(1.1,1.1); 
    transform: scale(1.1,1.1); 
  }

.aptf-tweet-content{
	position: relative;
	padding-left: 15%;
}

.aptf-tweet-content:before{
	content: '\f099';
	font-family: FontAwesome;
    left:0;
    position:absolute;
    top:0;
    font-size: 31px;
    color:#ffde00;
    line-height: 1.2;
}
.aptf-tweet-date {
    float: left;
    margin-left: 16%;
}

.aptf-tweet-date a{
	font-size: 16px;
}
.copyright .copyright-left{
	float: left;
}
.copyright .copyright-right{
	float: right;
}
footer #bottom-footer{
	padding:20px 0;
	background: #1a1a1a;
}
.style1-template-design footer #middle-footer{
	background: #ffde00;
	margin-top: 20px;
}
#middle-footer ul.menu li a, .footer-menu .menu ul li a{
	margin-left: 0px;
	color:#000;
	border: 2px solid transparent;
	font-weight: bold;
}
.footer-menu .menu ul li a{
    font-size: 18.24px;
    line-height: 36.49px;
    display: initial;
    padding: 3px 10px;
    box-sizing: border-box;
}
#middle-footer ul.menu li a:hover, .footer-menu .menu ul li a:hover{
	border: 2px solid #000;
    border-radius: 5px;
    color: #000;
}
footer .socials a{
	background: #fff;
	color:#454543;
	border-radius: 0;
	margin-bottom: 1%;
}
footer .socials a:hover{
	background: #ffde00;
}
#top-footer .footer .widget{
	background: none;
}

footer #top-footer a {
    font-weight: 400;
}
.footer ul.menu{
	    margin: 0 0 15px 11px;
}

/*end-footer section*/

/*..............
	Inner Pages
................*/

/*contact pages*/
.wpcf7-form input , .wpcf7-form textarea{
	border:0;
	border-bottom: 2px solid #000;
}



/*Search Pages*/

.right-sidebar.sidebar .widget-title,.single .sidebar .widget-title,.left-sidebar.sidebar .widget-title{
	background: #000;
	color:#ffde00;
}
.right-sidebar.sidebar .widget-title:after,.left-sidebar.sidebar .widget-title:after, .single .sidebar .widget-title::after{
		border-color: transparent #1d1c1c #1e1717 transparent;
}
.right-sidebar.sidebar ul li a:hover,.right-sidebar.sidebar ul li:before,
.single .sidebar ul li a:hover, .single .sidebar ul li:before,
.left-sidebar.sidebar ul li a:hover,.left-sidebar.sidebar ul li:before
{
 	color:#ffde00;
}

 
.right-sidebar.sidebar .widget_search .searchsubmit, 
.single .sidebar .widget_search .searchsubmit,
.left-sidebar.sidebar .widget_search .searchsubmit{
 	background: #000;
}
.right-sidebar.sidebar .widget_search .searchsubmit .fa, 
.right-sidebar button.searchsubmit .fa,
.single .sidebar .widget_search .searchsubmit .fa,
.single button.searchsubmit .fa,
.left-sidebar.sidebar .widget_search .searchsubmit .fa, 
.left-sidebar button.searchsubmit .fa,
{
 	color:#ffde00;
}
.right-sidebar.sidebar .tagcloud a,
.single .sidebar .tagcloud a,
.left-sidebar.sidebar .tagcloud a{
  	background:#000;
  	color:#ffde00;
}
.right-sidebar button.searchsubmit,
.single button.searchsubmit,
.left-sidebar button.searchsubmit
{
	background: #000;
	
}
.right-sidebar button.searchsubmit .fa,
.single button.searchsubmit .fa,
.left-sidebar button.searchsubmit .fa{
	color:#ffde00;
}
.right-sidebar #comments h3,.single #comments h3,.left-sidebar #comments h3,#respond #reply-title{
	background: transparent;
	font-size: 30px;
	color:#444;
	padding-bottom: 20px;
	position: relative;
}
.right-sidebar #comments h3::after, .single #comments h3::after,.left-sidebar #comments h3::after,#respond #reply-title::after{
	content: ' ';
    width: 72px;
    height: 7px;
    background: #444;
    position: absolute;
    bottom: 0;
    left: 10%;
}
.single input[type="submit"],#respond input[type="submit"],
.left-sidebar input[type="submit"],
.right-sidebar input[type="submit"]{
	border:2px solid #000;
    text-transform: capitalize;
    color: #000!important;
    background: transparent;
}
.single input[type="submit"]:hover,#respond input[type="submit"]:hover,
.left-sidebar input[type="submit"]:hover,
.right-sidebar input[type="submit"]:hover{
	border:2px solid #ffde00;
	color:#000!important;
	background: #ffde00;
    transition: all .5s linear;
}
.comments-area #respond{
	background: transparent;
}
#commentform p span,#commentform p label{
	color:#444;
}
.comments-area #respond textarea{
	border:0;
	border-bottom:2px solid #000;
}
.comments-area #respond textarea ,.comments-area #respond  input[type="text"]{
	border:0;
	border-bottom:2px solid #000;
}
article h2 a, main #comments h2.comments-title{
	color:#444;
	background: transparent;
	font-size: 30px;
}
article h2 a:hover{
	color:#ffde00;
}
.short-content + .bttn{
	background: transparent;
	border:2px solid #000;
	color:#000!important;
	background: transparent;
    font-weight: bold;
    transition: all 0.5s linear;
}
.short-content + .bttn:hover{
	background:#ffde00;
	border:2px solid #ffde00;
}
.posted-on a,.entry-footer a{
	color:#999;
}
.posted-on a:hover,.entry-footer a:hover,.style1-template-design .footer-wrap a:hover{
	color:#ffde00;
}
.comment-list .comment-body{
	    border-top: 2px solid #000;
}
.commentmetadata .comment-edit-link{
	color:#000;
}
#prev a,#next a,.comment a{
	color:#000;
}
#prev a:hover,#next a:hover ,.comment a:hover{
	color:#ffde00;
}
.commentmetadata .comment-edit-link:hover,{
	color:#ffde00;
}
main .navigation .nav-links a{
	background: transparent;
	border:2px solid #000;
	color:#000!important;
	background: transparent;
    font-weight: bold;
    transition: all 0.5s linear;
}
main .navigation .nav-links a:hover{
	background:#ffde00;
	border:2px solid #ffde00;
}
.comment-body .comment-author .fn .url:hover{
	background: transparent;
	color:#000;
}
#accesspress-blog .main-title{
	color:#444;
}
.google-section-wrap .ak-contact-address{
	margin-left: 50%;
}
.boxed-layout .business-section .ak-container, .boxed-layout footer .ak-container{
	padding: 0 5%;
}

