// main: style.scss
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 2em;
	border-bottom: 1px solid #e5e5e5;
}

h1.entry-title{
	margin-top: 0;
	font-size: 26px;
	font-weight: 600;
	margin-bottom: 5px;
	line-height: 1.2;
}

.page , .single {
	.hentry {
		border: none;
		margin-bottom: 10px;
	}
}

.single {
	h1.entry-title{
		margin-bottom: 0;
	}
	.entry-header {
		margin-bottom: 20px;
	}
	.entry-content {
		margin-top: 1.0625rem;
		margin-bottom: 0;
	}
}

// .byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.featured-image{
	position: relative;
	margin-bottom: 25px;
	img {
		@include media-breakpoint-down(sm) {
			width: 100%;
		}
	}
}

.entry-info {
    background: #fff;
    margin-left: 70px;
    margin-top: -100px;
    padding: 15px 0 0 25px;
    position: relative;
    z-index: 100;
	@include media-breakpoint-down(md) {
		margin-left: 20px;
		margin-top: -65px;
		padding: 15px 0 0 15px;
	}
}

.no-post-thumbnail {
	.entry-info {
		margin: 0;
		padding: 0;
	}
	.ft-post-right {
		margin: 0;
	}
}

h2.entry-title {
    font-size: 26px;
    line-height: 1.3;
    font-weight: 600;
    margin-bottom: 5px;
	margin-top: 0;
	@include media-breakpoint-down(md) {
		font-size: 22px;
	}
	a {
		color: #333;
		text-decoration: none;
		&:hover {
			color: #666;
		}
	}
}

.entry-meta {
    display: block;
    font-size: 12px;
    font-style: italic;
    color: #b4b4b4;
    margin-bottom: 5px;
	div {
		display: inline-block;
	}
	a {
		color: $color__primary;
		text-decoration: none;
		&:hover{
			text-decoration: underline;
		}
	}
}

.entry-footer {
	a {
		color: #999;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

/* Archie */
.archive, .search {
	.page-header {
		border-bottom: 1px solid #e5e5e5;
		margin-bottom: 20px;
		padding-bottom: 10px;
	}
	.post-grid:nth-of-type(2n+1) {
		float: left;
		clear: both;
	}
	.post-grid:nth-of-type(2n) {
		float: right;
		clear: none;
	}
}

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comments-area {
	margin-top: 40px;
	.comment-list  {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			margin: 30px 0;
			padding-bottom: 30px;
			border-bottom: 1px solid #e6e6e6;
			.avatar {
				border-radius: 3px;
				float: left;
				width: 60px;
			}
			.comment-wrapper {
				background: #f8f9f9 none repeat scroll 0 0;
				margin-left: 6rem;
				padding: 20px;
				position: relative;
				&:before {
					border-color: transparent #f6f7f9 transparent transparent;
					border-style: solid;
					border-width: 0 10px 10px 0;
					content: "";
					height: 0;
					left: -9px;
					position: absolute;
					top: 0;
					width: 0;
				}
				.comment-meta {
					margin-bottom: 20px;
					a {
						text-decoration: none;
					}
					.fn {
						font-weight: bold;
					}
				}
				.comment-author {
					margin-bottom: 20px;
					a {
						color: #bbb;
						font-size: 1.1rem;
						letter-spacing: 0.3px;
						text-transform: uppercase;
					}
				}
				.comment-actions {
					i {
						padding-left: 10px;
						font-size: 13px;
					}
				}
			}
			li {
				border-bottom: none;
				margin-bottom: 0;
				padding-bottom: 0;
			}
		}
	}
}
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

#respond  {
	input#submit {
		width: auto;
		font-weight: bold;
	}
	h3#reply-title {
		border-bottom: 1px solid #e5e5e5;
		font-size: 18px;
		margin-bottom: 40px;
		padding-bottom: 10px;
		text-transform: uppercase;
	}
}
