// main: style.scss

// # Typography
$font__main: 'Libre Franklin', Georgia, serif;
$font__heading: 'Libre Franklin', Georgia, serif;
$font__code:  "Libre Franklin", monospace;
$font__pre: "Libre Franklinh", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;;
$font__line-height-headings: 1.2;

// # Structure
$size__site-width: 1080px;

// ## Font sizes
$font__size-h1: 3.052em;
$font__size-h2: 2.441em;
$font__size-h3: 1.953em;
$font__size-h4: 1.563em;
$font__size-h5: 1.25em;
$font__size-h6: 1em;
$font__size-default: 1em;
$font__size-content: 1.25em;
$font__size-small: 0.9em;
$font__size-smaller: 0.8em;
$font__size_tiny: 0.7em;

// ## Weights
$font__weight-default: 400;
$font__weight-bold: 700;

// # Colors
$color__primary: #f75357;
$color__border: #E3E3E3;
$color__white: #fff;
$color__light-grey: #EBEBEB;
$color__mid-grey: #e3e3e3;
$color__dark-grey: #666;
$color__light-black: #444;
$color__black: #111;

$color__background-body: $color__light-grey;
$color__background-site: $color__white;
$color__background-hr: $color__light-grey;
$color__background-pre: $color__light-grey;
$color__background-ins: $color__light-grey;
$color__background-screen: $color__light-grey;

$color__text-input: $color__light-black;
$color__text-input-focus: $color__black;
$color__text-screen: $color__primary;
$color__text-main: $color__light-black;
$color__text-headings: $color__black;

$color__background-button: $color__primary;
$color__background-button-hover: $color__light-grey;
$color__background-button-focus: $color__mid-grey;

$color__link: $color__light-black;
$color__link-visited: $color__light-black;
$color__link-hover: $color__primary;


$color__border-abbr: $color__light-black;
$color__border-button: $color__mid-grey;
$color__border-button-hover: $color__light-black;
$color__border-button-focus: $color__light-black;
$color__border-input: $color__mid-grey;
$color__border-input-focus: $color__light-black;
